.container{
  display: flex;
  justify-content: center;
}
.img-fluid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  height: auto;

}

@media (min-width: 768px) {
  .img-fluid {
    width: 25%;
    height: auto;
  }
}
