.btn{
  padding-left:3rem !important;
  padding-right:3rem !important;
  border: 0.1rem solid rgba(0,0,0,0.1)!important;
  border-radius: 0.3rem !important;
}

.btn-primary{
  background-color: #000000 !important;
}

